@{
    ViewData["Title"] = "Home Page";
}
@inject Chapter_03_Dependency_Injection.DataManager.MusicManager MusicService

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@ViewBag.songs</p>
    <p>Total SOngs:
    <h2>@await MusicService.GetMusicCount()</h2>
    </p>
</div>
